<style>
    .btn {
  background-color: #ff5a5f;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background-color: #d63c3f;
}
</style>
<img src="/assets/1687743741912.jpg" width="100%" height="auto" >
<div style="position: absolute; top: 25%; left: 5%;">
<% if user_signed_in? %>
  <p>ようこそ、<%= current_user.email %>さん！</p>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
<% else %>
  <%= link_to '今すぐ無料会員登録', new_user_registration_path, class: 'btn btn-primary' %>
  <%= link_to '既に無料会員の方はこちらから', new_user_session_path, class: 'btn btn-primary' %>
<% end %>
</div>
<section>
  <br> <br> <br> <br>
  <h4>さらに・・・</h4> <br> <br> <br>
  <h2>有料会員になるとすべてのセクションを学習できます</h2>
   <br> <br> <br> <br>
</section>
<img src="/assets/statas.svg" width="100%" height="auto" >
<div style="position: absolute; top: 92%; left: 40%;">
  <%= link_to '詳しくはこちらから', new_payment_path, class: 'btn btn-primary' %>
</div>

